/* Article View */

.article_header {
    box-sizing: border-box;
    padding-bottom: calc( var(--side-margin) * 2 ) ;
    min-height: 60vh;
    gap: calc( var(--side-margin) * 2 );
    /* position: relative; */
}

.article_header::after {
    content: '';
    /* border: 1px solid red; */
    height: 25vh;
    transform: translate(-10vw,-10vh);
    width: 110vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: 
    radial-gradient(at 10% 50%, #ad3ee955 0px, transparent 70%),
    radial-gradient(at 90% 0%, #4197ffaa 0px, transparent 70%);
    filter: blur(20px) saturate(150%);
}

aside {
    padding-top: 60vh;
}

.article_header h1 {
    margin-top: 10vh;
    font-size: 3em;
    text-wrap: balance;
    width: 100%;
    line-height: 130%;
}



.author span { text-decoration: underline; }

.article_container {
    --gap : calc(var(--side-margin) * 3);

    padding-block: var(--side-margin);

    gap: var(--gap);

    grid-template-columns: 1fr var(--width-table-of-content);
    width: min(
        calc( 100vw - 2 * var(--side-margin) ), 
        calc( 70ch + var(--gap) + var(--width-table-of-content) )
    );
}



@media (width < 800px) {

    .article_header {
        min-height: 50vh;
        gap: var(--side-margin);
    }
    
    aside {
        padding-top: 50vh;
    }

    .article_header h1 {
        font-size: 2.3em;
    }
    

    .article_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0;
        gap: 0;
    }

    aside {
        max-height: 0;
        max-width: 0;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
    }
}


.article_body h2, h3, h4, h5 { margin-block: 2rem 1rem; }

.article_body h2 { font-size: 1.8em; }

.article_body h3 { font-size: 1.5em; }

.article_body h4 { font-size: 1.3em; }

.author,
.article_body p,
.article_body li { 
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.55rem;
}

.article_body p { margin-block: 0.95em; }
.article_body ul li { margin-block: 0.6rem; }

.article_body ul {
    margin-block: 0.35rem;
    padding-left: 2ch;
}

.article_body > *:first-child {
    margin-top: 0px;
}

aside ul { list-style: none; }

aside ul li {

    --color: hsl(276, 78%, 38%);

    box-sizing: border-box;
    padding: 0.1em 1ch;
    margin-block: 10px;
    border-left: 1px solid var(--color);

    color: var(--color);

    font-size: 1.1em;
    text-wrap: balance;
    line-height: 1.55rem;

    font-weight: 500;
}

aside {
    /* border: 1px solid red; */
    position: relative;
}

aside .sticky {
    position: static;
    width: 100%;
    top: 5em;
    display: grid;
    gap: var(--side-margin);
}

aside ul li[data-hierarchy="2"] {margin-left: 1.5ch;}

aside ul li[data-hierarchy="3"] {margin-left: 3ch;}

aside .toolkit .edit_button {
    padding: 0.75ch 0.75em;
    border: 1px solid hsl(276, 78%, 38%);
    border-radius: 0.5ch;
    background-color: transparent;
    font-size: 0.9em;
    font-weight: 500;
}

aside .toolkit .edit_button:hover{
    background-color: hsla(276, 78%, 38%, 0.1);
    cursor: pointer;
}