/* Global Declarations */

:root {
    --side-margin: 20px;
    --width-aside: 30ch;
    --section-gap: calc(var(--side-margin) * 3);
    --width-main: min(
        calc( 100vw - 2 * var(--side-margin) ), 
        calc( 65ch + var(--section-gap) + var(--width-aside) )
    );

    --hsl-accent: 280, 80%, 55%;

    --hsl-bg: 233, 100%, 4%;

    --hsl-text: 0, 0%, 95%;


    --hsl-un-em: 236, 45%, 90%;
    font-size: 1.1em;

    --hsl-em1: 236, 45%, 83%;
    --hsl-em2: 236, 79%, 62%;
}

* {
    padding: 0;
    margin: 0;
    min-width: 0;

    color: hsl(var(--hsl-text));
}

html {
    scroll-behavior: smooth;
    background-color: hsl(var(--hsl-bg));
}

html,
body,
main {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Components */

.btn {
    padding: 0.75ch 0.75em;
    border: 1px solid hsl(var(--hsl-em2));
    border-radius: 0.5ch;
    background-color: transparent;
    /* font-size: 0.9em; */
    font-weight: 500;
    text-decoration: none;

    width: max-content;
    font-size: 1.1em;
}

.btn:hover{
    background-color: hsla(var(--hsl-em2), 0.1);
    cursor: pointer;
}

/* Quick Classes */

.block { display: block; }
.inline { display: inline; }

.flex { display: flex; }
.jcc  { justify-content: center; }
.jcsb  { justify-content: space-between; }
.aic  { align-items: center; }

.flex-v { display: flex; flex-direction: column;}

.flex-wrap { flex-wrap: wrap; }

.grid { display: grid; }
.pic {place-items: center;}

